@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}

/* ========== */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  /* background-color: #f9f9f9; */
  color: #0e0e0e;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100dvh; */
  /* height: 100vh; */
}

/* Container for content */
div {
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  /*padding: 20px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
}

/* Header */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Paragraph text */
p {
  font-size: 1.2em;
  color: #b3abab;
  margin-bottom: 10px;
  text-align: center;
  /* background-color: #f9f9f9; */
}

/* Horizontal Rule */
hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

/* List Styling */
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  /* background-color: #767575; */
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 1em;
  color: #ffffff;
}

/* Card */

#total.card {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  h1{
    text-align: left;
    font-size: 2rem;
  }
  h2{
    font-size: 1.75rem;
    text-align: left;
  }
  #total-value {
    margin-bottom: 0;
    font-size: 15rem;
    color: black;
    font-weight: lighter;
    margin-block: 0rem;
    @media (max-width: 480px) {
      font-size: 9rem;
    }
  }
  p {
    font-size: .75rem;
    text-align: left;
  }
}

.chart {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  canvas {
    /* height: 100%; */
  }
}

/* Img Container */

.img-container{
  width: 125px;
  height: 125px;
  position: relative;
  @media (max-width: 480px) {
    width: 75px;
    height: 75px;
  }
}

/* Link */

a {
  font-size: .75rem;
  text-decoration: underline;
  color: #777676;
}