@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f1f1f;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* ========== */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #aeaeae;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

/* Container for content */
div {
  background-color: #272727;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

/* Header */
h1 {
  font-size: 2em;
  color: #e8e2e2;
  margin-bottom: 20px;
  text-align: center;
}

/* Paragraph text */
p {
  font-size: 1.2em;
  color: #b3abab;
  margin-bottom: 10px;
  text-align: center;
}

/* Horizontal Rule */
hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

/* List Styling */
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: #767575;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 1em;
  color: #ffffff;
}