@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --background: #fff;
  --foreground: #171717;
}

/* ========== General Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== Body Styling ========== */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========== Typography ========== */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 1.2em;
  color: #726f6ff5;
  margin-bottom: 10px;
  text-align: center;
}

/* ========== Layout ========== */
div {
  border-radius: 8px;
  width: 100%;
}

/* ========== Separators ========== */
hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

/* ========== Lists ========== */
ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 1em;
  color: #ffffff;
}

/* ========== Stats Card ========== */
#stats-card {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

#stats-card h1 {
  text-align: left;
  font-size: 2rem;
}

#stats-card h2 {
  font-size: 1.75rem;
  text-align: left;
}

#total-value {
  margin-bottom: 0;
  font-size: 12rem;
  color: black;
  font-weight: lighter;
  margin-block: 0rem;
  line-height: 100%;
  text-indent: -12px;
}

@media (max-width: 480px) {
  #total-value {
    font-size: 9rem;
  }
}

#stats-card p {
  /* font-size: 0.75rem; */
  text-align: left;
}

/* Stats Bar */
#stats-bar p {
  text-align: right;
  font-size: 1rem;
  letter-spacing: 10px;
}

#stats-bar p span {
  color: #000;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

/* Description Section */
#desc {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  box-sizing: content-box;
  margin-left: -5px;
}

#desc p {
  font-size: 1rem;
}

/* ========== Chart Styling ========== */
.chart {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}

.chart-placeholder {
  font-size: 1rem;
  color: #888; /* Subtle placeholder text color */
  font-weight: bold;
  text-transform: uppercase;
}

/* ========== Image Container ========== */
.img-container {
  width: 100px;
  height: 100px;
  position: relative;
}

@media (max-width: 480px) {
  .img-container {
    width: 75px;
    height: 75px;
  }
}

/* ========== Links ========== */
a {
  font-size: 0.75rem;
  text-decoration: underline;
  color: #777676;
}